<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">


    <title>Title</title>
</head>
<body>

        <div class="jumbotron">
            <form action="#" th:action="@{/search}" th:object="${url}" method="post">
                <input type="text" th:field="*{urlName}" />
                <input type="submit"/>
            </form>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-xl">
                <table class="table">
                    <thead>
                    <tr>
                        <th> External Links </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="url : ${externalUrls}">
                        <td><span th:text="${url.externalUrlName}"> Title </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Internal Links </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="url : ${internalLinks}">
                        <td><span th:text="${url.internalUrlName}"> Title </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>